 :root {
      --color-azul-oscuro: #1a104d;
      --color-verde: #008538;
      --color-rojo: #e40050;
      --color-blanco: #ffffff;
      --color-gris: #f1f1f1;
    }

    * { margin: 0; padding: 0; box-sizing: border-box; }
    html { scroll-behavior: smooth; }
    body {
      font-family: 'Quantico', sans-serif;
      color: var(--color-azul-oscuro);
      overflow-x: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      
    }

    header {
      background: linear-gradient(135deg, #ffffffcc, #fffffff6);
      padding: 1rem 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
      top: 6px;
      z-index: 1000;
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.849);
      border-radius: 16px;
      transition: .7s ease;
    }

    header:hover {
      box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.849);
      transform: scale(1.02);
    }

    header img { height: 45px; }

    nav a {
      margin-left: 1.5rem;
      text-decoration: none;
      color: var(--color-azul-oscuro);
      font-weight: bold;
      position: relative;
    }

    nav a::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      background: var(--color-verde);
      left: 0;
      bottom: -3px;
      transition: width 0.3s ease-in-out;
    }

    nav a:hover::after { width: 100%; }

    section {
      width: 100vw;
      padding: 5rem 2rem;
      max-width: 1200px;
      margin: auto;
      position: relative;
    }

    #inicio{
      margin-top: -80px;
      background-image: url('fondobanner.gif');
      min-height: 85vh;
      background-size: cover;
      display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-left: 10%;
      background-position: center;
      position: relative;
      width: 98vw;
      max-width: 1600px;
      border-bottom-left-radius: 64px;
      border-bottom-right-radius: 64px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      overflow: hidden;
    }

    .contenedorinicio {
      text-align: left;
      color: var(--color-blanco);
      padding: 2rem;
      background: rgba(0, 0, 0, 0.856);
      border-radius: 12px;
      max-width: 600px;
      border: 2px solid var(--color-verde);
        box-shadow:
    inset -3px -3px 6px rgba(255, 255, 255, 0.07),
    inset 4px 4px 10px rgba(0, 0, 0, 0.7),

    -3px -3px 8px rgba(255, 255, 255, 0.12),
    8px 8px 24px rgba(0, 0, 0, 0.8),
    0 0 22px rgba(0, 255, 0, 0.25);
      transform: perspective(1000px) rotateX(1deg) rotateY(9deg);
      transition: transform 0.7s ease, box-shadow 0.7s ease;
    }

    .contenedorinicio:hover {
  transform: perspective(1000px) translateZ(24px) scale(1.02);

}


.imagenbanner {
  width: 33%;
  position: absolute; 
  bottom: 0px;
  right: 10%; min-width: 300px;
  z-index: 5;
    }
    

    .section-title {
      font-size: 2rem;
      color: #008538;
      margin-bottom: 1.5rem;
      opacity: 0;
      transform: translateY(50px);
      transition: all 1s ease-out;
    }

    #titulobanner{
      color: white;
    }

    .linea-verde {
    width: 100%;
    height: 230px;
    position: absolute;
    background-color: #008538;
    bottom: -160px;
    right: 0px;
    border-top-left-radius: 100%;
    z-index: 1;
    -webkit-animation: slide-in-bottom 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation: slide-in-bottom 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.linea-blanca {
    width: 100%;
    height: 105px;
    position: absolute;
    background-color: #ffffff;
    bottom: -83px;
    border-top-left-radius: 32%;
    right: 0px;
    z-index: 3;
    -webkit-animation: slide-in-bottom 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation: slide-in-bottom 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.linea-azul {
    width: 100%;
    height: 72px;
    position: absolute;
    background-color:#1a104d;
    bottom: -53px;
    right: 0px;
    border-top-left-radius: 100%;
    z-index: 5;
    -webkit-animation: slide-in-bottom .5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

    .section-text, .cards {
      opacity: 0;
      transform: translateY(50px);
      transition: all 1s ease-out;
    }

    .animate {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }



    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 2rem;
      margin-top: 2rem;
    }

    .card {
        background: #1f1f1fc9;
      border-left: 6px solid var(--color-verde);
      border-radius: 12px;
      padding: 2rem;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
      transition: transform 0.4s ease, box-shadow 0.4s ease;
      position: relative;
      min-height: 108.8px;
      color: white;

      p{
        position: relative;
        z-index: 2;
        transition: .7s ease;
        max-width: 220px;
      }

          .icono{
      display: block;
      width: 70px;
      height: auto;
      position: absolute;
      bottom: 20%;
      left: 16px;
      transition: .7s ease;
      opacity: 0;
    }

    span{
      position: absolute;
      bottom: 6px;
      right: 16px;
      font-size: 12px;
      cursor: pointer;
      transition: .7s ease;
    }
    
    }

    .card:hover {
      transform: translateY(-8px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.12);

            p{
        position: relative;
        z-index: 2;
        padding-left: 70px;
        font-size: 14px;
        max-width: 260px;
      }

          .icono{
      transform: rotate(-360deg);
      opacity: 1;
    }

    span{
      text-decoration: underline;
      transform: scale(1.1);
    }
    }

    form input, form textarea {
      display: block;
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
    }

    form button {
      background-color: var(--color-rojo);
      color: white;
      padding: 1rem 2rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 1rem;
      transition: background 0.3s ease;
    }

    form button:hover { background-color: #b8003f; }

    footer {
      background: var(--color-azul-oscuro);
      color: var(--color-blanco);
      text-align: center;
      padding: 2rem;
    }


    .whatsapp-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #25d366;
      color: white;
      padding: 16px;
      border-radius: 50%;
      box-shadow: 0 4px 6px rgba(0,0,0,0.3);
      font-size: 24px;
      z-index: 999;
      text-decoration: none;
    }

    .stats {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      margin-top: 2rem;
      max-width: 750px;
    }

    .circle-stat {
 width: 140px;
    height: 140px;
    border-radius: 50%;
    background: conic-gradient(var(--color-verde) 0%, #eee 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    flex-direction: column;
    transition: background 1s ease;
    position: relative;
    box-shadow:
      inset -4px -4px 10px rgba(255, 255, 255, 0.6),
      inset 4px 4px 12px rgba(0, 0, 0, 0.2),
      4px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: #f3f3f3;
    }

    .circle-stat::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: radial-gradient(circle at top left, rgba(255, 255, 255, 0.8), transparent);
    z-index: 1;
  }

    .circle-stat span {
       font-size: 1.2rem;
    font-weight: normal;
    margin-top: 0.5rem;
    z-index: 2;
    }

    .testimonials {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 2rem;
      padding: 2rem 0;
      max-width: 640px;
    }

    .testimonial {
      background: var(--color-gris);
      border-radius: 12px;
      padding: 2rem;
      min-width: 300px;
      scroll-snap-align: start;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
    }

    iframe {
      width: 100%;
      height: 300px;
      border: 0;
      border-radius: 12px;
      margin-top: 2rem;
    }

    #servicios{

      padding: 2rem;
      border-radius: 16px;
      margin-top: 24px;
      background-image: url('fondovideo2.gif');
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      position: relative;
      overflow: hidden;
      width: 95vw;
      border-radius: 64px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);

            h2{
                background-color: rgba(255, 255, 255, 0.918);
                padding: 40px 6px 6px 75px;
                margin-top: -64px;
                margin-left: -64px;
                max-width: 450px;
                border-radius: 6px 36px 136px 36px;
                
            }
    }

    .metodologias-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      margin: auto;
      background-image: url('fondo3.webp');
      background-size: cover;
      background-position: top;
      margin-top: 24px;
      padding: 0px;
      border-radius: 64px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      position: relative;
      width: 95vw;
    }

    #metodologias{
      background-color: rgba(0, 0, 0, 0.432);
      border-radius: 16px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 64px;
      width: 95vw;

      h2{
        color: white;
      }



      P{
        max-width: 750px;
        text-align: center;
        color: white;
      }
    }

    #opiniones{
        margin-top: 24px;
        max-width: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
        h2{
            width: 100%;
            max-width: 1200px;
        }
    }

    @media (max-width: 768px) {
      nav a {
        margin-left: 1rem;
        font-size: 0.95rem;
        display: none;
      }
      .stats { flex-direction: column; align-items: center; }

      #inicio{
        
        justify-content: flex-start;
        margin-top: -2px;
        padding-left: 16px;
      }

      header{
        width: 100%;
        padding: 1rem;
        top:0px;
      }

      .imagenbanner{
        right: -60px;
        min-width: 290px;
      }

       .circle-stat {
 width: 70px;
    height: 70px;
       }

       .stats{
        flex-direction: row;
    }
}

    @-webkit-keyframes slide-in-bottom {
0% {
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
}
@keyframes slide-in-bottom {
0% {
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
}
